# http://editorconfig.org

# ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### #
# Matches multiple files with brace expansion notation
# [*.{js,py}]
#
# 4 space indentation
# [*.py]
# indent_style =space
# indent_size  =4
#
# Indentation override for all JS under lib directory
# [lib/**.js]
#
# indent_style: set to "tab" or "space" to use hard tabs or soft tabs respectively.
# indent_size: a whole number defining the number of columns used for each indentation level and the width of soft tabs (when supported). When set to "tab", the value of tab_width (if specified) will be used.
# tab_width: a whole number defining the number of columns used to represent a tab character. This defaults to the value of indent_size and doesn't usually need to be specified.
#
# [*.js]
# quote_type =single
# ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### #

root =true

[**]
charset=utf-8
end_of_line=crlf
indent_size=4
indent_style=space
insert_final_newline=true
max_line_length=180
tab_width=4
trim_trailing_whitespace=true

[{**.css, **.less, **.scss}]
insert_final_newline=false

[{**.json,**.md,**.yml,**.yaml,LICENSE}]
max_line_length=off
trim_trailing_whitespace=false

[**.csv]
charset=latin1

[{**.yml, **.yaml}]
indent_size=2
